<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
	
<display-name>i4c</display-name>
 
 <!-- Do Process Payment -->
 <servlet>
  <description>Gateway</description>
  <display-name>Gateway</display-name>
  <servlet-name>Gateway</servlet-name>
  <servlet-class>org.i4change.app.xml.Gateway</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>Gateway</servlet-name>
  <url-pattern>/Gateway</url-pattern>
 </servlet-mapping>
 
</web-app>